* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: Lato;
  line-height: 1.67;
  -webkit-font-smoothing: antialiased;
}

.code-tag {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 2px 4px;
  font-family: Roboto Mono, Lucida Sans Typewriter, Lucida Console, monaco,
    Courrier, monospace;
}

.gv-box,
.gv-input,
input {
  border: 1px solid lightgrey !important;
}

input,
::placeholder {
  font-family: Roboto Mono, Lucida Sans Typewriter, Lucida Console, monaco,
    Courrier, monospace !important;
}

a,
a:visited {
  color: #0076de;
  text-decoration: unset;
}

.list-item:hover {
  background-color: #f7fafc;
}
